#content {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.standard-size {
  width: 500px;
}

.image-on-center{
  margin-left: 200px;
}

#comment-space {
  background: #b7ccde;
  width: 900px;
}

.space-between-elements {
  padding-bottom: 30px;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 500px;
  padding-bottom: 30px;
}
